:root{
    --red: red;
    --green: green;
    --white: white;
    --orange: #FF6900;
}

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

a{
    text-decoration: none;
    color: inherit;
}



/* COMMON */

.overlay{
    display: inline-block;
    padding: 2px 6px;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    background-color: var(--white);
    padding: 10px;
    font-size: 30px;
    background-color: var(--white);
}


/* UTILITIES */

.m-0-auto{
    margin: 0 auto;
}

.w-70{
    width: 70%;
}

.color-white{
    color: var(--white)
}

.bg-red{
    background-color: var(--red);
}

.bg-green{
    background-color: green;
}

.d-block{
    display: block;
}

.c-red{
    color: red;
}

.bold{
    font-weight: bold;
}

.lineth{
    text-decoration: line-through;
}

.z-10{
    z-index: 10;
}

.flex-container{
    display: flex;
}

/* HEADER */

header{
    background-color: var(--orange);
    /* debug */
    height: 50px;
}

.header-s{
    /* background-color: aqua; */
    
    /* debug */
    height: 50px;
}

/* MAIN */

main{
    padding: 50px 0px;
}

.main-s{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);

    /* debug */
    background-color: aqua;
    border: 1px solid black;
}

.card{
    margin-bottom: 20px;
    padding: 10px;
}

.card-img{
    position: relative;
}

.img-overlay{
    position: absolute;
    bottom: 30px;
    left: 0;
}

.brand, .discounted-price, .price{
    font-size: 1rem;
}

.card-name{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.img-main{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-hover{
    position: absolute;
    top: 0;
    left: 0;
}

.card-img:hover .img-hover{
    z-index: 2;
}
